* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  font-family: sans-serif;
  background-image: url('../public/assets/img/fundo3.jpg'); 
  width: 100%;
}

.titulo {
  font-size: 20px;
  font-weight: 800;
  color: black;
  padding: 20px;
}

.paragrafo {
  color: black;
  font-size: 20px;
  padding: 20px;
  font-weight: 600;
  box-sizing: border-box;
  text-align: center;
}

.pacotes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:50px;
  cursor: pointer;
}

.pacotes h2 {
  margin-bottom: 30px;

}

.pacotes p {
  text-align: justify;
  max-width: 300px;
  color: black;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 600;
}

.pacotes img {
  max-width: 300px;
  border-radius: 10px;
  display: block;
}

.praia {
  display: block;
  width: 300px;
}

.cruzeiro {
  display: block;
  width: 300px;
}

.resort {
  display: block;
  width: 300px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  font-weight: 600;
}

@media only screen and (max-device-width: 500px){
  .pacotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    cursor: pointer;
    align-items: center;
    gap: 50px;
  }


}


















/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/